.resizableDiv {
    background-color: white;
    padding: 0px 0px;    
    resize: horizontal;
    overflow: hidden;
    text-align: center;
    align-self: center;
    display: inline;
    margin: auto;   
    font-style: normal; 
    font-variant: normal;
    width: 20px;  
    font-size: 24px; 
    font-family: Tahoma;
    visibility: hidden;
}

#lbText{
    visibility: hidden;
}

#testArea{
   visibility: hidden;
}

#page{
    background-color: white;
    padding: 50;
    align-items: center;
    align-content: center;
    font-family: Arial;
}


.button{
    font-family: Arial;
}

#tech0{
    border-color: blue;
}

#tech1,#tech2,#tech3{
    resize:none;
}

.tooltip {
    display: none;
    padding: 10px;
}

.all:hover .tooltip {
    background: blue;
    border-radius: 3px;
    bottom: -60px;
    color: white;
    display: inline;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
}

.all:hover .tooltip:before {
    display: block;
    content: "";
    position: absolute;
    top: -5px;
    width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-bottom: 5px solid blue;
}






