.resizableDiv {
    background-color: white;
    padding: 0px 0px;    
    resize: horizontal;
    overflow: hidden;
    text-align: center;
    align-self: center;
    display: inline;
    margin: auto;   
    font-style: normal; 
    font-variant: normal;
    width: 20px;  
    font-size: 24px; 
    font-family: Tahoma;
    visibility: hidden;
}

#lbText{
    visibility: hidden;
}

#testArea{
   visibility: hidden;
}

#page{
    background-color: white;
    padding: 50;
    align-items: center;
    align-content: center;
    font-family: Arial;
}

.button{
    font-family: Arial;
}

#tech0{
    border-color: blue;
}







